# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/captures/
android/key.properties

# iOS/macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
*.xcworkspace

# General
.DS_Store
*.log
